# --- Development values START ---

# postgres
POSTGRES_USER=fiuber
POSTGRES_PASSWORD=fiuber-password
POSTGRES_PORT=35100
# docker-compose file service's name
POSTGRES_HOST=dev-db
DATABASE_NAME=fiuber

# api-gateway
API_GATEWAY_HOST=0.0.0.0
API_GATEWAY_PORT=35000
API_GATEWAY_SERVICE_USERS_HOST=service-users
API_GATEWAY_SERVICE_TRIPS_HOST=service-trips
API_GATEWAY_SERVICE_PRICING_HOST=service-pricing

# service-auth
SERVICE_AUTH_HOST=0.0.0.0
SERVICE_AUTH_PORT=35001
SERVICE_AUTH_API_VERSION_PREFIX='/api/v1'
JWT_SECRET='supersecret'
JWT_ALGORITHM='HS256'

# service-users
SERVICE_USERS_HOST=0.0.0.0
SERVICE_USERS_PORT=35002
SERVICE_USERS_API_VERSION_PREFIX='/api/v1'

# service-trips
SERVICE_TRIPS_HOST=0.0.0.0
SERVICE_TRIPS_PORT=35003
SERVICE_TRIPS_API_VERSION_PREFIX='/api/v1'
SERVICE_TRIPS_APP_ENV=testing
GEOCODING_API_KEY=api_key
PRICING_SERVICE_REMOTE_URL=url

# service-pricing
SERVICE_PRICING_HOST=0.0.0.0
SERVICE_PRICING_PORT=35004
SERVICE_PRICING_API_VERSION_PREFIX='/api/v1'
SERVICE_PRICING_APP_ENV=testing


# mongo-db
MONGO_ATLAS=mongodb+srv://fiuber:<password>@fiuber.gojhw5h.mongodb.net/?retryWrites=true&w=majority
MONGO_LOCAL=mongodb://mongodb:27017/
#use mongo local instead of mongo atlas if you want to test it locally


# Firebase SDK settings
FB_TYPE=service_account
FB_PROJECT_ID=fifi-uber-4
FB_PRIVATE_KEY_ID=secret
FB_PRIVATE_KEY=secret
FB_CLIENT_ID=114170936682807124123
FB_AUTH_URI=https://accounts.google.com/o/oauth2/auth
FB_TOKEN_URI=https://oauth2.googleapis.com/token
FB_AUTH_PROVIDER_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
FB_CLIENT_CERT_URL=https:secret






# --- Development values END ---
