[submodule "service-users"]
	path = service-users
	url = git@github.com:grupo4taller2/service-users.git
	branch = main
[submodule "origin"]
	branch = .
[submodule "api-gateway"]
	path = api-gateway
	url = git@github.com:grupo4taller2/api-gateway.git
	branch = main
[submodule "service-auth"]
	path = service-auth
	url = git@github.com:grupo4taller2/service-auth.git
	branch = main
