[submodule "service-users"]
	path = service-users
	url = git@github.com:grupo4taller2/service-users.git
	branch = main
[submodule "origin"]
	branch = .
[submodule "api-gateway"]
	path = api-gateway
	url = git@github.com:grupo4taller2/api-gateway.git
	branch = main
[submodule "service-auth"]
	path = service-auth
	url = git@github.com:grupo4taller2/service-auth.git
	branch = main
[submodule "service-auth/"]
	branch = main
[submodule "service-users/"]
	branch = main
[submodule "api-gateway/"]
	branch = main
[submodule "service-trips"]
	path = service-trips
	url = git@github.com:grupo4taller2/service-trips.git
	branch = main
[submodule "service-pricing"]
	path = service-pricing
	url = git@github.com:grupo4taller2/service-pricing.git
	branch = main
[submodule "service-metrics"]
	path = service-metrics
	url = git@github.com:grupo4taller2/service-metrics.git
	branch = main
